RewriteEngine ON
RewriteRule ^$ frontend/index.html [L]
RewriteRule ^index$ frontend/index.html [L]
RewriteRule ^login$ frontend/login.html [L]
RewriteRule ^register$ frontend/register.html [L]
RewriteRule ^admin$ frontend/admin.html [L]
RewriteRule ^user$ frontend/user.html [L]
RewriteRule ^staff$ frontend/staff.html [L]
RewriteRule ^style$ frontend/asset/style.css [L]